.header {
  font-family: "Roboto";
  background: var(--corEscura);
  color: var(--cor0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px 0 15px 80px;
  min-width: 100vw;
  position: fixed;
  z-index: 1;
}

.logo > h1 {
  font-size: 2.75rem;
  color: #cacaca;
  font-weight: 500;
}

.logo h1 span {
  display: inline-block;
  padding: 4px;
  border-radius: 2px;
  color: #990fe9;
  font-weight: 600;
}

.inputFiltro {
  background: #2b2a35;
  padding: 12px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  color: #cacaca;
  outline: none;
  margin-bottom: 20px;
}

.menu-icones {
  display: flex;
  list-style: none;
}

.menu-icones li {
  cursor: pointer;
  background: var(--cor3);
  padding: 10px;
  border-radius: 5px;
  margin-right: 30px;
  transition: 0.5s;
}

.menu-icones li:hover {
  background: #6f0dac;
}
