.header-bg {
  min-width: 100vw;
  position: fixed;
  background: #111016;
  z-index: 300;
}

.header {
  font-family: "Roboto";
  color: var(--cor0);
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: 220px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); */
}

.logo > h1 {
  font-size: 2.75rem;
  color: #cacaca;
  font-weight: 500;
}

.logo h1 span {
  display: inline-block;
  padding: 4px;
  border-radius: 2px;
  color: #990fe9;
  font-weight: 600;
}

.header form > input {
  background: #2b2a35;
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
  color: #cacaca;
}

.header form > input:focus {
  border: none;
  outline: none;
  width: 250px;
}

.menu-icones {
  display: flex;
  list-style: none;
}

.menu-icones li {
  cursor: pointer;
  background: var(--cor3);
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  position: relative;
}

.icone {
  margin-right: 30px;
}

.menu-icones li:hover {
  background: #6f0dac;
}

i {
  position: absolute;
  color: #6f0dac;
  font-size: 0.625rem;
  background-color: white;
  border-radius: 50%;
  padding: 4px 8px;
  bottom: -5;
  left: -5px;
}
