.main {
  display: grid;
  margin-left: 250px;
  gap: 30px;
}
.principal {
  margin: 0 auto;
  padding-top: 100px;
}

.setas {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: end;
}
.setas img {
  height: 20px;
  margin-bottom: 5px;
}
.section-filme {
  max-width: 1100px;
}

.section-filme .filmes-lista {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}

.principal section {
  margin-bottom: 30px;
}

.pre-titulo {
  margin-left: 20px;
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--cor0);
}

.filmes-lista {
  display: flex;
  gap: 20px;
  list-style: none;
  font-family: "Roboto";
}

.filme-item {
  min-width: 160px;
  align-self: flex-start;
}

.filmeIMG {
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.titulo {
  font-size: 1.125rem;
  margin-bottom: 10px;
  max-width: 14ch;
  text-align: left;
}

.Ano {
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.filme-descricao {
  background: #1b1a22;
  padding: 10px 10px 15px 10px;
  color: rgb(177, 177, 177);
  border-radius: 0 0 5px 5px;
  display: grid;
  align-content: space-around;
  justify-items: start;
  height: 150px;
}

.botao {
  display: inline-block;
  font-size: 0.875rem;
  background: var(--cor3);
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  text-align: center;
}

.principal .botao:hover {
  background: #6f0dac;
}

.fim {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
